html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#adContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Slabo 27px", "Times New Roman", serif;
}

#url {
  white-space: nowrap;
  z-index: 1;
}

#cycles {
  text-align: center;
  line-height: 0;
  cursor: pointer;
}

#cycles > DIV {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px;
  width: 10px;
  height: 10px;
}

#cycles > DIV:hover {
  background-color: #b7b7b7;
}

.cycle1 #cycle1 {
  background-color: #b7b7b7;
}

.cycle1 #url,
.cycle1 #icon {
  display: none;
}

.cycle2 #cycle2 {
  background-color: #b7b7b7;
}

.cycle2 #text2 {
  display: none;
}

#button {
  box-sizing: border-box;
  border-radius: 12px;
  display: block;
  z-index: 1;
}

#button:hover {
  background-color: #b7b7b7;
}

#adContent > * {
  opacity: 0;
}

#adContent[data-variation] > * {
  opacity: 1;
}

[data-variation="banner1"] > #cycles > DIV {
  margin: 3px 5px;
}

[data-variation="smallBanner1"] > #cycles > DIV {
  margin: 1px 5px;
  width: 8px;
  height: 8px;
}
